
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    background-color:#181d31  ;
}
.header{
    background-color: #fb6542;
    height: auto;
    width: 100%;
    
}
h2{
    color: white;
    font-size: 20px;
    padding: 10px;
    display: inline-block;
    position: relative;
    left: 20px;
}
.a {
    float: right;
    color: white;
    list-style-type: none;
    text-decoration: none;
    text-transform: capitalize;
    right: 10px;
    position: relative;
    padding: 5px;
}
.section1{
    margin-left: 150px;
    margin-top: 20px;
    float: left;
    
   
}
.art1{
    width: 602px;
    height: 320px;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 3px;
}
img{
    width: 600px;
}
.art2{
    width: 602px;
    height: auto;
    background-color: white;
    border: 1px solid #ddd;
   position: relative;
   top: 20px;
   border-radius: 3px;
}
.art3{
    width: 602px;
    height: auto;
    background-color: white;
    border: 1px solid #ddd;
   position: relative;
   top: 40px;
   border-radius: 3px;
}
.section1 h3,p{
    padding: 5px 5px 3px 8px;
}
h3{
    text-transform: capitalize;
}
button{
    
        margin: 5px;
        padding: 7px;
        background-color:#fb6542 ;
        color: white;
        border: none;
        border-radius: 4px;
        font-weight: 200;
    } 
    .section2{
        float: right;
        margin-right: 300px;
        margin-top: 20px;

    }
    .box1{
        background-color: white;
        width: 250px;
        padding: 5px 5px 0px 5px;
        text-transform: capitalize;
        border-radius: 2px;
        height: 170px;
    }
    .box1 a{
        padding: 5px;
        border: 1px solid #ddd;
        color: rgb(134, 109, 109);
        font-weight: 100;
        display: block;
        text-decoration: none;
    }
    .box1 h2{
        color: rgb(59, 57, 57);
        font-weight: 100;
        text-align: start;
       position: relative;
       left: 0;
    }
    .box2{
        background-color: white;
        width: 250px;
        padding: 5px 5px 0px 5px;
        text-transform: capitalize;
        border-radius: 2px;
        height: 170px;
        margin-top: 20px;
    }
    .box2 a{
        padding: 5px;
        border: 1px solid #ddd;
        color: rgb(134, 109, 109);
        font-weight: 100;
        display: block;
        text-decoration: none;
    }
    .box2 h2{
        color: rgb(59, 57, 57);
        font-weight: 100;
        text-align: start;
       position: relative;
       left: 0;
    }
    .box2 a:hover{
        background-color: gray;
        color:white;
    }
    .box1 a:hover{
        background-color: gray;
        color:white;
        
    }
    button:hover{
        cursor: pointer;
        scale: 1.1;
    }




 
